# Group 16 Milestone 1

In [3]:
import os
import os.path
import zipfile
import requests
import json
import pandas as pd
from urllib.request import urlretrieve
import glob
import re

In [4]:
# Necessary metadata
url = "https://api.figshare.com/v2/articles/14096681"
headers = {"Content-Type": "application/json"}
output_directory = "../data/"
response = requests.request("GET", url, headers=headers)
data = json.loads(response.text)
files = data["files"]

In [3]:
%%time
files_to_dl = "data.zip"
if not os.path.isfile(output_directory + files_to_dl):
    for file in files:
        if file["name"] == files_to_dl:
            os.makedirs(output_directory, exist_ok=True)
            urlretrieve(file["download_url"], output_directory + file["name"])

CPU times: user 90 µs, sys: 30 µs, total: 120 µs
Wall time: 78.7 µs

In [4]:
%%time
with zipfile.ZipFile(os.path.join(output_directory, files_to_dl), "r") as f:
    f.extractall(output_directory)
os.remove("../data/observed_daily_rainfall_SYD.csv")

CPU times: user 24.6 s, sys: 6.17 s, total: 30.8 s
Wall time: 41.8 s

In [5]:
%%time
files = glob.glob("../data/*.csv")
columns = ["time", "lat_min", "lat_max", "lon_min", "lon_max", "rain (mm/day)"]
df = pd.concat((pd.read_csv(file, index_col=0, usecols=columns)
                .assign(model=re.findall(r"[^\/]+(?=\_daily)", file)[0])
                for file in files)
              )

CPU times: user 59 s, sys: 13.4 s, total: 1min 12s
Wall time: 1min 32s

In [6]:
df

,lat_min,lat_max,lon_min,lon_max,rain (mm/day),model
time,,,,,,
1889-01-01 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.244226e-13,MPI-ESM-1-2-HAM
1889-01-02 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.217326e-13,MPI-ESM-1-2-HAM
1889-01-03 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.498125e-13,MPI-ESM-1-2-HAM
1889-01-04 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.251282e-13,MPI-ESM-1-2-HAM
1889-01-05 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.270161e-13,MPI-ESM-1-2-HAM
...,...,...,...,...,...,...
2014-12-27 12:00:00,-30.625000,-29.375000,152.8125,154.6875,9.816926e-02,ACCESS-ESM1-5
2014-12-28 12:00:00,-30.625000,-29.375000,152.8125,154.6875,1.714305e-01,ACCESS-ESM1-5
2014-12-29 12:00:00,-30.625000,-29.375000,152.8125,154.6875,6.002090e-02,ACCESS-ESM1-5
2014-12-30 12:00:00,-30.625000,-29.375000,152.8125,154.6875,2.306852e-01,ACCESS-ESM1-5
2014-12-31 12:00:00,-30.625000,-29.375000,152.8125,154.6875,1.373372e+00,ACCESS-ESM1-5